.container {
    display: flex;
    display: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px)
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/* .container form label {} */